<app-header-two></app-header-two>
<app-banner></app-banner>
<section class="booking-form">
  <div class="container">
    <app-booking-form></app-booking-form>
  </div>
</section>
<app-text-block></app-text-block>
<!-- <app-room-type></app-room-type> -->

<app-core-features></app-core-features>
<!-- <app-feature-room></app-feature-room> -->
<!-- <section class="counter-section bg-black pt-100 pb-50">
  <div class="container">
    <app-counter></app-counter>
  </div>
</section> -->
<app-room-slider></app-room-slider>
<br />
<br />
<br />

<!-- <app-testimonials></app-testimonials> -->
<app-video-wrap></app-video-wrap>
<!-- <app-blog-post></app-blog-post> -->
<app-instagram></app-instagram>
<app-footer-two [layout]="classname" [logo]="ftlogo"></app-footer-two>
