<div class="search-widget">
  <h5
    style="
      font-size: 20px;
      /* margin-bottom: 40px; */
      line-height: 1;
      position: relative;
      padding-left: 30px;
      border-left: black solid 1px;
    "
    *ngIf="displayText_"
  >
    Rechercher
  </h5>
  <form [formGroup]="bookingForm" (ngSubmit)="makeFilter()">
    <!-- ... Votre formulaire existant ... -->

    <div
      style="
        margin-top: 10px;
        padding-top: 8px;
        /* padding-left: 20px; */
        /* padding-right: 20px; */
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        color: black;
      "
    >
      <div
        class="d-flex justify-content-between self-align-center"
        style="margin-top: 13px"
      >
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <h4 style="font-size: 16px">Chambres</h4>
        </div>
        <div>
          <select
            style="
              padding-left: 10px;
              padding-right: 10px;
              border-radius: 10px;
              height: 42px;
              border: rgba(0, 0, 0, 0.125) solid 1px;
            "
            formControlName="nbr_room"
          >
            <!-- <option value="" disabled>Sélection le nombre d'adultes</option> -->
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </div>
      </div>
      <div
        class="d-flex justify-content-between self-align-center"
        style="margin-top: 13px"
      >
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <h4 style="font-size: 16px">Salles de bains</h4>
        </div>
        <div>
          <select
            style="
              padding-left: 10px;
              padding-right: 10px;
              border-radius: 10px;
              height: 42px;
              border: rgba(0, 0, 0, 0.125) solid 1px;
            "
            formControlName="nbr_bathroom"
          >
            <!-- <option value="" disabled>Sélection le nombre d'adultes</option> -->
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </div>
      </div>
    </div>

    <!-- ... Autre contenu ... -->

    <!-- <hr />
    <div>
      <p class="sidooo">Destination / Nom de l'établissement :</p>

      <input
        type="text"
        name="searchText"
        placeholder="Entrer le nom de l'établissement"
        style="
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 10px;
          height: 42px;
          border: rgba(0, 0, 0, 0.125) solid 1px;
          width: 100%;
        "
        formControlName="name"
        required
      />
    </div> -->
    <div class="row">
      <div class="col-lg-12">
        <!-- <button
    type="submit"
    style="left: 0; border-radius: 10px; width: 25px; height: 55%"
  >
    <i class="far fa-search"></i>
  </button> -->
        <p class="sidooo">Du :</p>
        <input
          type="date"
          name="searchText"
          placeholder="Search your keyword..."
          style="
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10px;
            height: 42px;
            width: 100%;
            border: rgba(0, 0, 0, 0.125) solid 1px;
          "
          formControlName="arrival_at"
          required
        />
      </div>
      <div class="col-lg-12">
        <!-- <button
    type="submit"
    style="left: 0; border-radius: 10px; width: 25px; height: 55%"
  >
    <i class="far fa-search"></i>
  </button> -->
        <p class="sidooo">Au :</p>
        <input
          type="date"
          name="searchText"
          placeholder="Search your keyword..."
          style="
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
            border-radius: 10px;
            height: 42px;
            border: rgba(0, 0, 0, 0.125) solid 1px;
          "
          formControlName="departure_at"
          required
        />
      </div>
    </div>
    <!-- <div>

      <p class="sidooo">Adultes</p>
      <select
        style="
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 10px;
          height: 42px;
          border: rgba(0, 0, 0, 0.125) solid 1px;
        "
        formControlName="nbr_people"
      >
        <option value="" disabled>Sélection le nombre d'adultes</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div> -->

    <!-- <div>
      <p class="sidooo">Sous type de residence</p>
      <select
        style="
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 10px;
          height: 42px;
          border: rgba(0, 0, 0, 0.125) solid 1px;
        "
        formControlName="sub_type_house_id"
      >
        <option value="" disabled selected>Sélectionner le sous type</option>
        <option value="{{ item.id }}" *ngFor="let item of roomChildrenArray">
          {{ item.name }}
        </option>
      </select>
    </div> -->
    <div style="margin-top: 10px">
      <button
        type="submit"
        class="btn-radiuss text-center"
        style="
          width: 100%;
          background-color: black;
          color: white;
          padding: 10px;
          position: relative;
        "
      >
        Rechercher
      </button>
    </div>
  </form>
</div>
