<section class="counter-section pt-115">
  <div class="container">
    <!-- Section Title -->
    <!-- <div class="section-title mb-80">
      <span class="title-tag">Compte</span>
      <h2>Nos succès</h2>
    </div> -->
    <!-- Counter -->
    <!-- <div class="row justify-content-center">
      <div class="col-lg-4 col-6" *ngFor="let item of countPost">
        <div class="counter-box counter-box-two">
          <div class="icon">
            <i [class]="item.icon"></i>
          </div>
          <h4>
            {{ item.value }}<span class="prefix">{{ item.prefix }}</span>
          </h4>
          <span class="title">{{ item.title }}</span>
        </div>
      </div>
    </div> -->
    <!-- Gallery -->
    <div class="row">
      <div class="col-sm-6">
        <div class="image mt-30">
          <img
            src="https://img.freepik.com/photos-gratuite/belle-station-balneaire-tropicale-piscine-destination-paradisiaque-pour-vacances-ge_1258-150769.jpg"
            alt="image"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="image mt-30">
          <img
            src="https://media.istockphoto.com/id/503044702/fr/photo/ciel-illumin%C3%A9-et-%C3%A0-lext%C3%A9rieur-du-b%C3%A2timent-au-bord-de-leau.jpg?s=612x612&w=0&k=20&c=RuJLgYs2IAYk7sqbYwWOwYfNRoNsorRsIuYV70WncZM="
            alt="image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
