<div
  class="sidebar"
  style="
    padding: 22px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.125);
    background-color: white;
    padding: 1px;
  "
>
  <!-- Categories Widget -->
  <!-- <div class="widget categories-widget mb-40">
    <h5 class="widget-title">Categories</h5>
    <ul>
      <li *ngFor="let item of category">
        <a routerLink="/blog/cat/{{ item.id }}" style="border-radius: 10px"
          >{{ item.title }}<span>{{ item.count }}</span></a
        >
      </li>
    </ul>
  </div> -->
</div>
