.iniput {
  border: black;
  width: 100%;
  height: 38px;
  background-color: #f8f8f8;
  padding: 0 40px;
}

.pousser-icon {
  margin-right: 15px;
}

.badge-success {
  width: 100% !important;
  color: #fff !important;
  background-color: RGBA(90, 183, 123, var(--bs-bg-opacity, 1)) !important;
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 400;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: 0.135rem;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

.badge-danger {
  width: 100% !important;
  color: #fff !important;
  background-color: RGBA(90, 183, 123, var(--bs-bg-opacity, 1)) !important;
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 400;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: 0.135rem;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: red;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

.badge-warning {
  width: 100% !important;
  color: #fff !important;
  background-color: RGBA(90, 183, 123, var(--bs-bg-opacity, 1)) !important;
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 400;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: 0.135rem;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

.iniput {
  border: black;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  padding: 0 40px;
}

.amenities-list {
  list-style-type: none;
  padding: 0;
  font-family: "Old Standard TT", serif;
}

.amenity-item {
  display: inline-block;
  width: 50%; /* Affichez deux éléments par ligne */
  box-sizing: border-box;
  padding: 0 15px; /* Espacement entre les éléments */
  font-family: "Old Standard TT", serif;
}

.mon-padding {
  padding: 10px;
  border: solid 1px rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  font-family: "Old Standard TT", serif;
}

.input-formulaire {
  border-radius: 4px;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-family: "Old Standard TT", serif;
}

.m10 {
  margin-top: 10px;
  font-family: "Old Standard TT", serif;
}

.petiit {
  background-color: #e7fde9;
  color: #006607;
  padding: 0px 6px 6px 6px;
  margin-right: 4px;
  border-radius: 5px;
  border: 1px solid #97e59c;
  font-family: "Old Standard TT", serif;
}

.petiiit {
  background-color: #e7fde9;
  color: #006607;
  padding: 6px 6px 6px 6px;
  margin-right: 4px;
  border-radius: 5px;
  border: 1px solid #97e59c;
  font-family: "Old Standard TT", serif;
}

.a001 {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 60px;
  font-family: "Old Standard TT", serif;
}

.fs13 {
  font-size: 13px;
  font-family: "Old Standard TT", serif;
}

.a002 {
  font-size: 13px;
  background-color: dodgerblue;
  border-radius: 4px;
  padding: 2px;
  margin-left: 10px;
  font-family: "Old Standard TT", serif;
}

.a003 {
  width: 5%;
  margin-right: 10px;
  font-family: "Old Standard TT", serif;
}

.a004 {
  border-left: rgba(0, 0, 0, 0.125) 2px solid;
  font-family: "Old Standard TT", serif;
}

.mr10 {
  margin-right: 10px;
  font-family: "Old Standard TT", serif;
}

.mb10 {
  margin-bottom: 10px;
  font-family: "Old Standard TT", serif;
}

.fs14 {
  font-size: 14px;
  font-family: "Old Standard TT", serif;
}

.mt15 {
  margin-top: 15px;
  font-family: "Old Standard TT", serif;
}

input {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Old Standard TT", serif;
}

textarea {
  padding: 10px;
  font-family: "Old Standard TT", serif;
}

input.simple-radius {
  height: 67px;
  width: 100%;
}
