<ng-container *ngIf="dataIsOk">
  <main>
    <!-- Dashboard -->
    <section id="dashboard" class="mb-20">
      <div class="container">
        <h1 class="h4"><span>Liste de réservations</span></h1>
        <!-- Your Profile -->

        <!-- /Your Profile -->
        <hr />
        <!-- Recent Booking-->
        <div>
          <div class="d-flex align-items-center justify-content-between mb-5">
            <!-- <h2 class="h4 mb-0">Dernière réservatiosn</h2>
                <a href="booking.html" class="fw-medium">
                  <span>Tout voir</span>
                  <i
                    class="far fa-arrow-alt-circle-right"
                    style="margin-left: 10px"
                  ></i>
                </a> -->

            <!-- <h1 class="h2"><span>Bookings</span></h1> -->
            <!-- Filter -->

            <div class="d-flex align-items-center">
              <span class="me-2 d-none d-sm-inline" style="margin-right: 15px"
                >Filtrer:</span
              >
              <select
                class="dselect form-select dropdown flex-grow-1 simple-radius"
                data-dselect-position="end"
                style="height: 40px; padding-left: 10px"
              >
                <option value="0">Tout</option>
                <option value="1">Completed</option>
                <option value="2">Processing</option>
                <option value="3">Cancelled</option>
                <option value="4">Paid</option>
                <option value="4">Unpaid</option>
              </select>
            </div>
          </div>
          <!-- Booking list -->

          <app-history [isPagination]="true"> </app-history>

          <!-- /Booking list -->
        </div>
        <!-- /Recent Booking-->
      </div>
    </section>
    <!-- /Dashboard -->
  </main>

  <!-- <app-back-button
    [customUrl]="'/room-details/' + roomdetails?.id"
  ></app-back-button> -->
  <app-back-button></app-back-button>
</ng-container>
