<ng-container *ngIf="dataIsOk">
  <main>
    <!-- Dashboard -->
    <section id="dashboard" class="mb-20">
      <div class="container">
        <h1 class="h4"><span>Liste de réservations</span></h1>
        <!-- Your Profile -->

        <!-- /Your Profile -->
        <hr />
        <!-- Recent Booking-->
        <div>
          <div class="d-flex align-items-center justify-content-between mb-5">
            <!-- <h2 class="h4 mb-0">Dernière réservatiosn</h2>
                <a href="booking.html" class="fw-medium">
                  <span>Tout voir</span>
                  <i
                    class="far fa-arrow-alt-circle-right"
                    style="margin-left: 10px"
                  ></i>
                </a> -->

            <!-- <h1 class="h2"><span>Bookings</span></h1> -->
            <!-- Filter -->

            <div class="d-flex align-items-center">
              <span class="me-2 d-none d-sm-inline" style="margin-right: 15px"
                >Filtrer:</span
              >
              <select
                class="dselect form-select dropdown flex-grow-1 simple-radius"
                data-dselect-position="end"
                style="height: 40px; padding-left: 10px"
              >
                <option value="0">Tout</option>
                <option value="1">Completed</option>
                <option value="2">Processing</option>
                <option value="3">Cancelled</option>
                <option value="4">Paid</option>
                <option value="4">Unpaid</option>
              </select>
            </div>
          </div>
          <!-- Booking list -->

          <div class="table-responsive table-radius-me">
            <table class="table table-bordered bg-white">
              <thead>
                <tr>
                  <th scope="col" class="text-nowrap">Résidences</th>
                  <th scope="col" class="text-nowrap">N° Res</th>
                  <th scope="col" class="text-nowrap">Montant</th>
                  <th scope="col" class="text-nowrap">Date de res</th>
                  <th scope="col" class="text-nowrap">Status</th>
                  <th scope="col" class="text-nowrap">Action</th>
                </tr>
              </thead>

              <tbody *ngIf="historyList">
                <tr
                  *ngFor="
                    let item of historyList
                      | paginate : { itemsPerPage: 5, currentPage: page }
                  "
                >
                  <td>
                    <div class="mb-2">
                      <div>
                        <a
                          routerLink="/profil-user/detail-reservation/{{
                            item.booking_id
                          }}"
                          class="d-inline-block text-dark link-hover-primary"
                        >
                          <strong>
                            {{ item?.booking_room?.room_name }}
                          </strong>
                        </a>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <small class="text-nowrap d-block">
                        <i class="fa fa-calendar pousser-icon"></i>
                        <span
                          >{{ item?.booking_room?.start_date }} -
                          {{ item?.booking_room?.end_date }}</span
                        >
                      </small>
                      <div style="margin-left: 10px">|</div>
                      <small
                        class="text-nowrap d-block"
                        style="margin-left: 10px"
                      >
                        <i class="fa fa-users pousser-icon"></i>
                        <span>{{ item?.number_of_guests }} Adultes</span>
                      </small>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex justify-content-center">
                      <span class="text-nowrap"
                        >#{{ item?.booking_number }}</span
                      >
                    </div>
                  </td>
                  <td>
                    <strong>
                      <ng-container
                        *ngIf="
                          item?.booking_currency?.is_prefix_symbol === 1;
                          else suffixSymbol
                        "
                      >
                        <sup>{{ item.booking_currency?.symbol }}</sup>
                        {{ item.booking_amount | number : "1.0-0" }}
                      </ng-container>
                      <ng-template #suffixSymbol>
                        {{ item.booking_amount | number : "1.0-0"
                        }}<sup>{{ item.booking_currency?.symbol }}</sup>
                      </ng-template>
                    </strong>
                  </td>
                  <td>
                    <span class="text-nowrap fs-7">{{
                      item?.booking_date
                    }}</span>
                  </td>
                  <td class="text-nowrap">
                    <span
                      style="
                        color: white;
                        padding: 3px 10px 3px 10px;
                        border-radius: 4px;
                      "
                      [style.backgroundColor]="getStatusColor(item?.status)"
                      >{{ item?.status }}</span
                    >
                  </td>

                  <td>
                    <div class="d-inline-flex">
                      <a
                        href="#"
                        class="btn btn-sm btn-outline-light btn-square rounded-circle shadow-sm me-2"
                        title="Detail booking"
                        style="
                          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.045) !important;
                        "
                      >
                        <i class="fas fa-print" style="color: #a7856a"></i>
                      </a>
                      <a
                        href="#"
                        class="btn btn-sm btn-outline-light btn-square rounded-circle shadow-sm me-2"
                        title="Delete booking"
                        style="
                          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.045) !important;
                        "
                      >
                        <i class="fa fa-trash" style="color: #a7856a"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="pagination-wrap text-center justify-content-center"
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
              "
              *ngIf="historyList"
            >
              <pagination-controls
                (pageChange)="page = $event"
                responsive="true"
                previousLabel="<"
                nextLabel=">"
              ></pagination-controls>
            </div>
          </div>
          <div class="text-center justify-content-center" *ngIf="isPending">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            <div>Chargement en cours</div>
          </div>

          <div class="text-center justify-content-center" *ngIf="!historyList">
            <img
              src="https://angular.pixelstrap.net/fastkart-rest/assets/svg/empty-items.svg"
              alt=""
              width="40%"
            />
            <h4>Aucune réservation</h4>
          </div>
          <!-- /Booking list -->
        </div>
        <!-- /Recent Booking-->
      </div>
    </section>
    <!-- /Dashboard -->
  </main>

  <!-- <app-back-button
    [customUrl]="'/room-details/' + roomdetails?.id"
  ></app-back-button> -->
  <app-back-button></app-back-button>
</ng-container>

<div
  class="d-flex text-center justify-content-center align-self-center align-items-center"
  *ngIf="!dataIsOk"
  style="height: 50vh"
>
  <div>
    <!-- <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span> -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
        opacity=".25"
      />
      <path
        fill="currentColor"
        d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z"
      >
        <animateTransform
          attributeName="transform"
          dur="0.75s"
          repeatCount="indefinite"
          type="rotate"
          values="0 12 12;360 12 12"
        />
      </path>
    </svg>
    <div>Chargement des données</div>
  </div>
</div>
