<app-header [layout]="Headerclassname"></app-header>
<app-breadcrumb></app-breadcrumb>
<app-about-text></app-about-text>
<app-core-feature></app-core-feature>
<app-counter-two></app-counter-two>
<!-- <app-blog-post></app-blog-post> -->
<!-- <!-- <app-footer [isCopyRight]="false"></app-footer> -->
<app-footer-two [layout]="classname" [logo]="ftlogo"></app-footer-two> -->
<!-- <app-footer [isCopyRight]="false"></app-footer> -->
<app-footer-two [layout]="classname" [logo]="ftlogo"></app-footer-two>
