<ng-container *ngIf="isRoomOk">
  <div class="d-none d-md-block pt-60"></div>
  <div class="d-block d-md-none mt-30"></div>
  <section class="blog-section pb-60">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Blog Sidebar -->
        <div class="col-lg-4 col-md-8 col-sm-10">
          <app-detail-reservation-sidbar></app-detail-reservation-sidbar>
          <div class="m10"></div>

          <div class="mon-padding">
            <div>
              <p>
                <span
                  class="a002"
                  style="
                    background-color: black;
                    color: white;
                    padding-left: 10px;
                    padding-right: 10px;
                  "
                >
                  Avez-vous un code promo ?
                </span>
              </p>
              <br />
              <h6>
                <strong class="fs13">Saisissez votre code promo</strong
                ><span class="text-danger">*</span>
              </h6>

              <div
                style="position: relative; display: inline-block; width: 100%"
              >
                <input
                  type="text"
                  class="input-formulaire"
                  style="width: 100%; padding-right: 30px"
                  [(ngModel)]="couponCode"
                  (input)="checkCouponValidity()"
                  [disabled]="isRequestPending"
                  maxlength="8"
                />

                <!-- Ajoutez le spinner à l'intérieur de l'input -->
                <div
                  *ngIf="isCouponLoading"
                  class="spinner"
                  style="
                    position: absolute;
                    top: 20%;
                    right: 10px;
                    transform: translateY(-50%);
                  "
                ></div>
              </div>

              <!-- <br /> -->
            </div>
            <div
              class="snackbar-toast-2 bg-green1-dark color-white text-center"
              style="
                margin-bottom: calc(
                  10px + (env(safe-area-inset-bottom)) * 1.1
                ) !important;
                background-color: rgb(193, 14, 14) !important;
                color: white;
                margin-top: 10px;
              "
              *ngIf="isCouponValid === false"
            >
              <i class="fa fa-shopping-cart"></i>Votre coupon n'est pas valide
            </div>

            <div
              class="snackbar-toast-2 bg-green1-dark color-white text-center"
              style="
                margin-bottom: calc(
                  10px + (env(safe-area-inset-bottom)) * 1.1
                ) !important;
                background-color: rgb(3, 154, 8) !important;
                color: white;
                margin-top: 10px;
              "
              *ngIf="isCouponValid === true"
            >
              <i class="fa fa-shopping-cart"></i>Votre coupon est valide
            </div>
          </div>
          <div class="m10"></div>

          <div class="mon-padding">
            <div>
              <p>
                <span> Votre requête spéciale </span>
              </p>
              <br />
              <h6>
                <span>&ldquo;</span>{{ userReservationInfo?.special_request }}
                <span>&rdquo;</span>
              </h6>

              <br />
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="mon-padding" *ngIf="!isUserConnected">
            <div>
              <p class="fs14">
                <span style="color: blue" routerLink="/login">
                  <svg
                    aria-hidden="true"
                    class="bk-icon -streamline-person_half bp-signin-register__icon"
                    height="16"
                    width="16"
                    viewBox="0 0 24 24"
                    role="presentation"
                    focusable="false"
                  >
                    <path
                      d="M16.5 6a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0zM18 6A6 6 0 1 0 6 6a6 6 0 0 0 12 0zM3 23.25a9 9 0 1 1 18 0 .75.75 0 0 0 1.5 0c0-5.799-4.701-10.5-10.5-10.5S1.5 17.451 1.5 23.25a.75.75 0 0 0 1.5 0z"
                    ></path>
                  </svg>
                  Conncetez-vous
                </span>
                pour réserver en utilisant vos informations déjà enregistrées ou
                <span style="color: blue" routerLink="/register"
                  >inscrivez-vous</span
                >
                pour gérer vos réservations où que vous soyez !
              </p>
            </div>

            <div class="amertie-cart">
              <div class="d-flex justify-content-between">
                <div
                  class="text-center custom-cursor"
                  style="
                    border-radius: 10px;
                    background-color: red;
                    color: white;
                    padding: 10px;
                    display: flex;
                    justify-content: center; /* Centrer horizontalement */
                    align-items: center;
                    width: 100%;
                    margin-right: 5px;
                  "
                  routerLink="/login"
                >
                  Veuillez vous connecter
                </div>
                <div
                  class="text-center custom-cursor"
                  style="
                    border-radius: 10px;
                    background-color: black;
                    color: white;
                    padding: 10px;
                    display: flex;
                    justify-content: center; /* Centrer horizontalement */
                    align-items: center;
                    width: 100%;
                    margin-left: 5px;
                  "
                  routerLink="/register"
                >
                  Créer un compte
                </div>
              </div>
            </div>
          </div>
          <div class="m10"></div>
          <form
            [formGroup]="facturationForm"
            (ngSubmit)="submitInfoFacturationAndProcessToPaiement()"
          >
            <div class="mon-padding m10">
              <div>
                <h5>
                  <strong>Saisissez vos coordonnées de facturation</strong>
                </h5>
                <p class="fs14"></p>
                <br />

                <div
                  class="mon-padding self-align-center align-items-center justify-content-center"
                  style="padding-bottom: 14px"
                >
                  <span class="fs14">
                    <span>
                      <svg
                        class="bk-icon -streamline-info_sign"
                        height="16"
                        role="presentation"
                        width="16"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        focusable="false"
                      >
                        <path
                          d="M14.25 15.75h-.75a.75.75 0 0 1-.75-.75v-3.75a1.5 1.5 0 0 0-1.5-1.5h-.75a.75.75 0 0 0 0 1.5h.75V15a2.25 2.25 0 0 0 2.25 2.25h.75a.75.75 0 0 0 0-1.5zM11.625 6a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25.75.75 0 0 0 0 1.5.375.375 0 1 1 0-.75.375.375 0 0 1 0 .75.75.75 0 0 0 0-1.5zM22.5 12c0 5.799-4.701 10.5-10.5 10.5S1.5 17.799 1.5 12 6.201 1.5 12 1.5 22.5 6.201 22.5 12zm1.5 0c0-6.627-5.373-12-12-12S0 5.373 0 12s5.373 12 12 12 12-5.373 12-12z"
                        ></path>
                      </svg>

                      Dernièrres étapes ! Complétez simplement les informations
                      requises*.
                    </span>
                  </span>
                </div>

                <hr />
                <div>
                  <h6>
                    <strong class="fs13">En savoir plus</strong
                    ><span class="text-danger"> *</span>
                  </h6>

                  <span class="mr10"
                    >Vos informations sont en sécurité dans notre base de
                    données
                  </span>
                </div>
              </div>
            </div>
            <div class="mon-padding m10" style="background-color: white">
              <div class="d-flex justify-content-between">
                <h2 class="h5 d-block d-lg-none">
                  Informations de facturation
                </h2>
                <h2 class="h4 d-none d-lg-block">
                  Informations de facturation
                </h2>
                <div class="d-flex justify-content-between">
                  <div
                    class="align-self-center align-item-center d-none d-lg-block"
                    style="margin-top: -8px; margin-right: 10px"
                  >
                    <h4 class="">Entreprise ?</h4>
                  </div>
                  <div class="d-none d-lg-block">
                    <div
                      class="d-flex justify-content-between"
                      style="margin-top: 2px"
                    >
                      <div
                        [class.selected-option]="selectedOption === true"
                        class="content"
                        (click)="selectOption(true); toggleCollapse()"
                        style="
                          height: 30px;
                          width: 58px;
                          padding-top: 5px;
                          border-radius: 7px;
                        "
                      >
                        <h5
                          class="mb-n2 font-14 font-700 mb-0 text-center"
                          style="margin-left: -3px"
                        >
                          OUI
                        </h5>
                      </div>
                      <div
                        [class.rs-for-me-option]="selectedOption === false"
                        class="content rounded-s"
                        (click)="selectOption(false); toggleCollapse()"
                        style="
                          height: 30px;
                          width: 58px;
                          padding-top: 5px;
                          border-radius: 7px;
                        "
                      >
                        <h5
                          class="mb-n2 font-14 font-700 mb-0 text-center"
                          style="margin-left: -3px"
                        >
                          NON
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <!-- Payment -->

              <div class="mt-20"></div>
              <div class="d-flex justify-content-between" style="margin: 20px">
                <div
                  class="align-self-center align-item-center d-block d-lg-none"
                  style="margin-top: -8px; margin-right: 10px"
                >
                  <h4 class="">Entreprise ?</h4>
                </div>
                <div class="d-block d-lg-none">
                  <div
                    class="d-flex justify-content-between"
                    style="margin-top: 2px"
                  >
                    <div
                      [class.selected-option]="selectedOption === true"
                      class="content"
                      (click)="selectOption(true); toggleCollapse()"
                      style="
                        height: 30px;
                        width: 58px;
                        padding-top: 5px;
                        border-radius: 7px;
                      "
                    >
                      <h5
                        class="mb-n2 font-14 font-700 mb-0 text-center"
                        style="margin-left: -3px"
                      >
                        OUI
                      </h5>
                    </div>
                    <div
                      [class.rs-for-me-option]="selectedOption === false"
                      class="content rounded-s"
                      (click)="selectOption(false); toggleCollapse()"
                      style="
                        height: 30px;
                        width: 58px;
                        padding-top: 5px;
                        border-radius: 7px;
                      "
                    >
                      <h5
                        class="mb-n2 font-14 font-700 mb-0 text-center"
                        style="margin-left: -3px"
                      >
                        NON
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-12 col-xl-6 col-lg-6 pb-8 pb-lg-0 m10"
                  *ngIf="!isCollapseVisible"
                >
                  <h6>
                    <strong class="fs13">Prénom(s)</strong
                    ><span class="text-danger">*</span>
                  </h6>

                  <input
                    type="text"
                    class="input-formulaire"
                    placeholder="Entrez le(s) prénom(s)"
                    required=""
                    formControlName="prenomFacturation"
                  />
                </div>
                <div
                  class="col-12 col-xl-6 col-lg-6 pb-8 pb-lg-0 m10"
                  *ngIf="!isCollapseVisible"
                >
                  <h6>
                    <strong class="fs13">Nom</strong
                    ><span class="text-danger">*</span>
                  </h6>
                  <input
                    type="text"
                    id="x"
                    class="input-formulaire"
                    placeholder="Entrez le nom"
                    formControlName="nomFacturation"
                  />
                </div>

                <div
                  class="col-12 col-xl-6 col-lg-6 pb-8 pb-lg-0 m10"
                  [ngClass]="{
                    collapse: !isCollapseVisible,
                    show: isCollapseVisible
                  }"
                >
                  <h6>
                    <strong class="fs13">Nom de l'entreprise</strong
                    ><span class="text-danger">*</span>
                  </h6>

                  <input
                    type="text"
                    class="input-formulaire"
                    id="x"
                    placeholder="Entrez le nom de l'entreprise"
                    formControlName="nomEntrepriseFacturation"
                  />
                </div>

                <div class="col-12 col-xl-6 col-lg-6 pb-8 pb-lg-0 m10">
                  <h6>
                    <strong class="fs13">Adresse</strong
                    ><span class="text-danger">*</span>
                  </h6>
                  <input
                    type="text"
                    class="input-formulaire"
                    id="x"
                    placeholder="Entrez l'adresse"
                    formControlName="adresseFacturation"
                  />
                </div>
                <div class="col-12 col-xl-6 col-lg-6 pb-8 pb-lg-0 m10">
                  <h6>
                    <strong class="fs13">Pays</strong
                    ><span class="text-danger">*</span>
                  </h6>
                  <select
                    id="countries"
                    name="countries"
                    class="input-formulaire"
                    data-live-search="true"
                    formControlName="paysFacturation"
                  >
                    <option value="" disabled="disabled">
                      Sélectionnez le pays
                    </option>
                    <option value="1">Afghanistan</option>
                    <option value="2">Aland</option>
                    <option value="3">Albania</option>
                    <option value="4">Algeria</option>
                    <option value="5">American Samoa</option>
                    <option value="6">Andorra</option>
                    <option value="7">Angola</option>
                    <option value="8">Anguilla</option>
                    <option value="9">Antarctic Territory</option>
                    <option value="10">Antigua and Barbuda</option>
                    <option value="11">Argentina</option>
                    <option value="12">Armenia</option>
                    <option value="13">Aruba</option>
                    <option value="14">Ascension</option>
                    <option value="15">Australia</option>
                    <option value="16">Austria</option>
                    <option value="17">Azerbaijan</option>
                    <option value="18">Bahamas</option>
                    <option value="19">Bahrain</option>
                    <option value="20">Baker Island</option>
                    <option value="21">Bangladesh</option>
                    <option value="22">Barbados</option>
                    <option value="23">Belarus</option>
                    <option value="24">Belgium</option>
                    <option value="25">Belize</option>
                    <option value="26">Benin</option>
                    <option value="27">Bermuda</option>
                    <option value="28">Bhutan</option>
                    <option value="29">Bolivia</option>
                    <option value="30">Bosnia</option>
                    <option value="31">Botswana</option>
                    <option value="32">Bouvet Island</option>
                    <option value="33">Brazil</option>
                    <option value="34">British Indian Ocean Territory</option>
                    <option value="35">British Sovereign Base Areas</option>
                    <option value="36">British Virgin Islands</option>
                    <option value="37">Brunel</option>
                    <option value="38">Bulgaria</option>
                    <option value="39">Burkina Faso</option>
                    <option value="40">Burundi</option>
                    <option value="41">Cambodia</option>
                    <option value="42">Cameroon</option>
                    <option value="43">Canada</option>
                    <option value="44">Cape Verde</option>
                    <option value="45">Cayman Islands</option>
                    <option value="46">Central African Republic</option>
                    <option value="47">Chad</option>
                    <option value="48">Chile</option>
                    <option value="49">China</option>
                    <option value="50">China, Republic of (Taiwan)</option>
                    <option value="51">Christmas Island</option>
                    <option value="52">Cocos (Keeling) Islands</option>
                    <option value="53">Colombia</option>
                    <option value="54">Comoros</option>
                    <option value="55">Cook Islands</option>
                    <option value="56">Costa Rica</option>
                    <option value="57">Cote d'Ivoire</option>
                    <option value="58">Croatia</option>
                    <option value="59">Cuba</option>
                    <option value="60">Cyprus</option>
                    <option value="61">Czech Republic</option>
                    <option value="62">Democratic Republic of the Congo</option>
                    <option value="63">Denmark</option>
                    <option value="64">Djibouti</option>
                    <option value="65">Dominica</option>
                    <option value="66">Dominican Republic</option>
                    <option value="67">Ecuador</option>
                    <option value="68">Egypt</option>
                    <option value="69">El Salvador</option>
                    <option value="70">Equatorial Guinea</option>
                    <option value="71">Eritrea</option>
                    <option value="72">Estonia</option>
                    <option value="73">Ethiopia</option>
                    <option value="74">
                      Falkland Islands (Islas Malvinas)
                    </option>
                    <option value="75">Faroe Islands</option>
                    <option value="76">Fiji</option>
                    <option value="77">Finland</option>
                    <option value="78">France</option>
                    <option value="79">French Guiana</option>
                    <option value="80">French Polynesia</option>
                    <option value="81">
                      French Southern and Antarctic Lands
                    </option>
                    <option value="82">Gabon</option>
                    <option value="83">Gambia</option>
                    <option value="84">Georgia</option>
                    <option value="85">Germany</option>
                    <option value="86">Ghana</option>
                    <option value="87">Gibraltar</option>
                    <option value="88">Greece</option>
                    <option value="89">Greenland</option>
                    <option value="90">Grenada</option>
                    <option value="91">Guadeloupe</option>
                    <option value="92">Guam</option>
                    <option value="93">Guatemala</option>
                    <option value="94">Guernsey</option>
                    <option value="95">Guinea</option>
                    <option value="96">Guinea-Bissau</option>
                    <option value="97">Guyana</option>
                    <option value="98">Haiti</option>
                    <option value="99">
                      Heard Island and McDonald Islands
                    </option>
                    <option value="100">Honduras</option>
                    <option value="101">Hong Kong</option>
                    <option value="102">Hungary</option>
                    <option value="103">Iceland</option>
                    <option value="104">India</option>
                    <option value="105">Indonesia</option>
                    <option value="106">Iran</option>
                    <option value="107">Iraq</option>
                    <option value="108">Ireland</option>
                    <option value="109">Isle of Man</option>
                    <option value="110">Israel</option>
                    <option value="111" selected="selected">Italia</option>
                    <option value="112">Jamaica</option>
                    <option value="113">Japan</option>
                    <option value="114">Jersey</option>
                    <option value="115">Jordan</option>
                    <option value="116">Kazakhstan</option>
                    <option value="117">Kenya</option>
                    <option value="118">Kiribati</option>
                    <option value="119">Korea, North</option>
                    <option value="120">Korea, South</option>
                    <option value="121">Kuwait</option>
                    <option value="122">Kyrgyzstan</option>
                    <option value="123">Laos</option>
                    <option value="124">Latvia</option>
                    <option value="125">Lebanon</option>
                    <option value="126">Lesotho</option>
                    <option value="127">Liberia</option>
                  </select>
                </div>
                <div class="col-12 col-xl-12 col-lg-6 pb-8 pb-lg-0 m10">
                  <label for="x"></label>
                  <h6>
                    <strong class="fs13">Ville</strong
                    ><span class="text-danger">*</span>
                  </h6>
                  <input
                    type="text"
                    class="input-formulaire"
                    id="x"
                    placeholder="Entrez la ville"
                    formControlName="villeFacturation"
                  />
                  <!-- <span
                        class="help-block help-block-inline help-block-background"
                        >cm</span
                      > -->
                </div>
                <div class="col-12 col-xl-12 col-lg-6 pb-8 pb-lg-0 m10">
                  <h6>
                    <strong class="fs13">Code postal</strong
                    ><span class="text-danger">*</span>
                  </h6>
                  <input
                    type="text"
                    class="input-formulaire"
                    id="x"
                    placeholder="Entrez le code postal"
                    formControlName="codePostalFacturation"
                  />
                  <!-- <span
                        class="help-block help-block-inline help-block-background"
                        >cm</span
                      > -->
                </div>
              </div>
            </div>

            <br />
            <div
              class="d-flex justify-content-between petiiit"
              style="padding-top: 15px"
              *ngIf="paymentRoom?.is_payment_before == 0"
            >
              <h2 class="h5 d-block d-lg-none">Payer maintenant ?</h2>
              <h2 class="h4 d-none d-lg-block">Paiement</h2>
              <div class="d-flex justify-content-between">
                <div
                  class="align-self-center align-item-center d-none d-lg-block"
                  style="margin-top: -8px; margin-right: 10px"
                >
                  <h4 class="">Payer maintenant ?</h4>
                </div>
                <div class="">
                  <div
                    class="d-flex justify-content-between"
                    style="margin-top: 2px"
                  >
                    <div
                      [class.selected-option]="paymentSelectedOption === true"
                      class="content"
                      (click)="
                        PaymentSelectOption(true); paymentToggleCollapse()
                      "
                      style="
                        height: 30px;
                        width: 58px;
                        padding-top: 5px;
                        border-radius: 7px;
                      "
                    >
                      <h5
                        class="mb-n2 font-14 font-700 mb-0 text-center"
                        style="margin-left: -3px"
                      >
                        OUI
                      </h5>
                    </div>
                    <div
                      [class.rs-for-me-option]="paymentSelectedOption === false"
                      class="content rounded-s"
                      (click)="
                        PaymentSelectOption(false); paymentToggleCollapse()
                      "
                      style="
                        height: 30px;
                        width: 58px;
                        padding-top: 5px;
                        border-radius: 7px;
                      "
                    >
                      <h5
                        class="mb-n2 font-14 font-700 mb-0 text-center"
                        style="margin-left: -3px"
                      >
                        NON
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <!-- <button
              class="justify-content-end"
              type="submit"
              style="padding: 7px 10px 10px 10px; border-radius: 6px"
            >
              Prochaine étape : dernières informations
              <i class="fas fa-angle-right" style="margin-left: 10px"></i>
            </button> -->

            <button
              class="main-btn btn-filled text-center w-100 simple-radius"
              type="submit"
              [disabled]="submittingForm"
              *ngIf="!isReservation"
            >
              <span *ngIf="!submittingForm">
                <span *ngIf="!isPaymentCollapseVisible">
                  Réserver maintenant
                </span>

                <span
                  [ngClass]="{
                    collapse: !isPaymentCollapseVisible,
                    show: isPaymentCollapseVisible
                  }"
                >
                  Procéder au paiement
                </span>
              </span>

              <span
                *ngIf="submittingForm"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            </button>

            <button
              class="main-btn btn-filled text-center w-100"
              disabled
              *ngIf="isReservation"
            >
              <div
                class="d-flex justify-content-center align-items-center h-100"
              >
                <div class="mr-2">
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </div>
                <div>
                  <span>Réservation en cours</span>
                </div>
              </div>
            </button>
          </form>
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </section>
  <div
    class="snackbar-toast bg-green1-dark color-white text-center"
    style="
      margin-bottom: calc(
        100px + (env(safe-area-inset-bottom)) * 1.1
      ) !important;
      background-color: rgb(193, 14, 14) !important;
    "
    *ngIf="showSnackbar"
  >
    <i class="fa fa-shopping-cart mr-3"></i>Remplissez tous les champs
  </div>

  <div
    class="snackbar-toast bg-green1-dark color-white text-center"
    style="
      margin-bottom: calc(
        100px + (env(safe-area-inset-bottom)) * 1.1
      ) !important;
      background-color: rgb(193, 14, 14) !important;
    "
    *ngIf="invalidReservation"
  >
    <i class="fa fa-shopping-cart mr-3"></i> Echec : {{ errorMessage }}
  </div>

  <!-- <app-back-button
    [customUrl]="'/room-details/' + roomdetails?.id"
  ></app-back-button> -->
  <app-back-button></app-back-button>
  <!-- <p-button
    (click)="showResponsiveDialog()"
    icon="pi pi-external-link"
    label="Show"
  ></p-button> -->
  <p-dialog
    header="Echec de réservation"
    [(visible)]="displayResponsive"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw', 'background-color': 'red' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <p>
      {{ errorMessage }}
    </p>
    <ng-template pTemplate="footer">
      <!-- <p-button
        (click)="displayResponsive = false"
        label="No"
        styleClass="p-button-text"
      ></p-button> -->
      <p-button
        (click)="displayResponsive = false"
        label="OK"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>
</ng-container>

<div
  class="d-flex text-center justify-content-center align-self-center align-items-center"
  *ngIf="!isRoomOk"
  style="height: 50vh"
>
  <div>
    <!-- <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span> -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
        opacity=".25"
      />
      <path
        fill="currentColor"
        d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z"
      >
        <animateTransform
          attributeName="transform"
          dur="0.75s"
          repeatCount="indefinite"
          type="rotate"
          values="0 12 12;360 12 12"
        />
      </path>
    </svg>
    <div>Chargement des données</div>
  </div>
</div>
