<!-- Account menu -->
<div class="d-none d-xl-block">
  <!-- Avatar & Username -->
  <div class="mb-8 d-flex align-items-center">
    <div class="position-relative" data-user-avatar="">
      <figure class="mb-0">
        <img
          src="{{ userData?.imageUrl }}"
          srcset="./assets/img/avatars/a1@2x.jpg 2x"
          alt=""
          width="80"
          height="80"
          class="rounded-circle"
          data-show-avatar=""
        />
      </figure>
      <!-- <label
        for="filAvatar"
        class="btn btn-xs btn-square btn-outline-light bg-white rounded-circle position-absolute shadow top-0 end-0"
      >
        <i class="fa fa-camera" style="color: black"></i>
      </label> -->
      <button
        type="button"
        class="btn btn-xs btn-square btn-primary rounded-circle position-absolute shadow bottom-0 end-0 d-none"
        data-update-avatar=""
      >
        <i class="hicon hicon-check-valid-state"></i>
      </button>
      <input class="d-none" type="file" id="filAvatar" data-input-avatar="" />
    </div>
    <div
      class="ps-4"
      style="padding-left: 1rem !important; font-family: Old Standard TT, serif"
    >
      <span class="text-secondary">Bienvenu</span>
      <h3 class="mb-0 fs-4" style="font-family: Old Standard TT, serif">
        {{ userData?.first_name }}
      </h3>
    </div>
  </div>
  <!-- /Avatar & Username -->
  <!-- User menu -->
  <div class="mb-6" style="margin-bottom: 1.5rem !important; margin-top: 20px">
    <ul
      class="list-unstyled lh-lg fw-medium lh-lg"
      style="
        line-height: 2 !important;
        font-weight: 400 !important;
        padding-left: 0;
        list-style: none;
        margin-top: 0;
        margin-bottom: 1rem;
      "
    >
      <li class="mb-2 active" style="margin-bottom: 0.5rem !important">
        <a
          routerLink="/profil-user"
          class="text-dark link-hover-primary"
          style="
            --bs-text-opacity: 1;
            color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
            --bs-link-hover-primary: #a7856a;
          "
        >
          <i class="fa fa-tachometer pousser-icon"> </i>
          <span class="acitive">Tableau de Bord</span>
        </a>
      </li>
      <li class="mb-2">
        <a
          routerLink="/profil-user/historique"
          class="text-dark link-hover-primary"
          style="
            --bs-text-opacity: 1;
            color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
            --bs-link-hover-primary: #a7856a;
          "
        >
          <i class="fa fa-calendar pousser-icon"></i>
          <span>Réservation</span>
        </a>
      </li>
      <li class="mb-2">
        <a
          routerLink="/profil-user/update-profil"
          class="text-dark link-hover-primary"
          style="
            --bs-text-opacity: 1;
            color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
            --bs-link-hover-primary: #a7856a;
          "
        >
          <i class="fa fa-user pousser-icon"></i>
          <span>Profil</span>
        </a>
      </li>
      <li class="mb-2">
        <a
          (click)="logout()"
          class="text-dark link-hover-primary custom-cursor"
          style="
            --bs-text-opacity: 1;
            color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
            --bs-link-hover-primary: #a7856a;
          "
        >
          <i class="fa fa-sign-out pousser-icon"></i>
          <span>Se déconnecter</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /User menu -->
</div>
<!-- /Account menu -->
