<section class="core-feature-section bg-white pt-115 pb-115">
  <div class="container">
    <div class="section-title text-center mb-50">
      <span class="title-tag"> Installations </span>
      <h2>Caractéristiques de base</h2>
    </div>
    <!-- Featre Loop -->
    <div class="row features-loop">
      <div class="col-lg-4 col-sm-6 order-1">
        <div class="feature-box with-hover-img">
          <div class="icon">
            <i class="flaticon-rating"></i>
          </div>
          <h3><a href="javascript:void(0)">Une note élevée</a></h3>
          <p>
            Explorez l'excellence du confort et du service inégalé dans nos
            chaînes hôtelières. Chaque séjour est une expérience de luxe, une
            symphonie d'hospitalité où le raffinement rencontre la détente.
          </p>
          <span class="count">01</span>
          <div
            class="hover-img"
            [style.background-image]="
              'url(https://metropolitanhost.com/themes/themeforest/angular/miranda-hotel/assets/img/feature/01.jpg)'
            "
          ></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 order-2">
        <div class="feature-box">
          <div class="icon">
            <i class="flaticon-clock"></i>
          </div>
          <h3><a href="javascript:void(0)">Zone calme</a></h3>
          <p>
            Découvrez la sérénité absolue dans notre oasis de quiétude. Plongez
            dans une atmosphère apaisante où le calme devient une expérience à
            part entière. Bienvenue dans votre refuge tranquille
          </p>
          <span class="count">02</span>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 order-3 order-sm-4 order-lg-3">
        <div class="feature-box with-hover-img">
          <div class="icon">
            <i class="flaticon-location-pin"></i>
          </div>
          <h3><a href="javascript:void(0)">Meilleur localisation</a></h3>
          <p>
            Emplacement d'exception pour une expérience inoubliable. Profitez de
            la meilleure localisation, au cœur de l'action et à proximité des
            attractions emblématiques. Découvrez le summum de la commodité pour
            un séjour mémorable.
          </p>
          <span class="count">03</span>
          <div
            class="hover-img"
            [style.background-image]="
              'url(https://metropolitanhost.com/themes/themeforest/angular/miranda-hotel/assets/img/feature/02.jpg)'
            "
          ></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 order-4 order-sm-3 order-lg-4">
        <div class="feature-box">
          <div class="icon">
            <i class="flaticon-clock-1"></i>
          </div>
          <h3><a href="javascript:void(0)">Frais d'annulation</a></h3>
          <p>
            Flexibilité assurée ! Découvrez notre politique d'annulation souple
            avec des frais minimes. Profitez de la tranquillité d'esprit en
            sachant que vos plans peuvent évoluer sans tracas. Réservez en toute
            confiance avec nos conditions d'annulation avantageuses.
          </p>
          <span class="count">04</span>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 order-5">
        <div class="feature-box with-hover-img">
          <div class="icon">
            <i class="flaticon-credit-card"></i>
          </div>
          <h3><a href="javascript:void(0)">Large choix de paiement</a></h3>
          <p>
            Facilité de paiement à votre service ! Profitez d'un large éventail
            d'options de règlement pour rendre votre réservation aussi pratique
            que possible. Choisissez la méthode qui vous convient le mieux et
            réservez en toute simplicité.
          </p>
          <span class="count">05</span>
          <div
            class="hover-img"
            [style.background-image]="
              'url(https://metropolitanhost.com/themes/themeforest/angular/miranda-hotel/assets/img/feature/03.jpg)'
            "
          ></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 order-6">
        <div class="feature-box">
          <div class="icon">
            <i class="flaticon-discount"></i>
          </div>
          <h3><a routerLink="/offers">Offre spéciale</a></h3>
          <p>
            Économisez dès maintenant avec notre offre spéciale exclusive !
            Réservez votre séjour et bénéficiez d'avantages exceptionnels. Ne
            manquez pas cette occasion unique de vivre une expérience
            exceptionnelle à un prix avantageux. Réservez dès aujourd'hui
          </p>
          <span class="count">06</span>
        </div>
      </div>
    </div>
  </div>
</section>
