<section class="text-block pt-115 pb-115">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-7">
        <div class="text-img text-center text-lg-left mb-small">
          <!-- 612x552 -->
          <img
            src="assets/img/text-block/02.png"
            alt="img"
            class="simple-radius"
          />
        </div>
      </div>
      <div class="col-lg-5 col-md-8 col-sm-10">
        <div class="block-text">
          <div class="section-title mb-20">
            <span class="title-tag">À propos</span>
            <h3>L'expérience SHERYLUX</h3>
          </div>
          <p>
            Avec nos partenaires, nous sommes fiers de vous proposer les hôtels
            les plus sécurisés et les mieux notés. Votre sécurité et votre
            confort sont nos priorités, c'est pourquoi notre processus de
            sélection méticuleux garantit que chaque hôtel répond à des normes
            de qualité strictes. Que vous veniez pour affaires ou pour le
            plaisir, faites-nous confiance pour vous offrir un séjour alliant
            sécurité maximale et service exceptionnel.
          </p>
          <a routerLink="/about" class="main-btn btn-filled mt-40 simple-radius"
            >Lire plus</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
