<!-- <footer> -->
<div class="footer-subscibe-area pt-20 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="subscribe-text text-center">
          <form
            [formGroup]="newsletterForm"
            (ngSubmit)="onSubmit()"
            class="subscribe-form mt-50"
          >
            <input
              class="simple-radius"
              type="email"
              placeholder="Souscrivez à notre newsletter"
              formControlName="email"
            />

            <button class="simple-radius" type="submit">Souscrire</button>
          </form>
          <div *ngIf="isSuccess" class="success-message">
            Inscription réussie !
          </div>
          <div *ngIf="isError" class="error-message">
            Échec de l'inscription. Veuillez réessayer.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </footer> -->
